@import 'variables';
@import './base';
@import './functions';
@import './components/nav';
@import './components/buttons';
@import './layout';

body {
    display: flex;
    flex-direction: column;
}

.text {
    @include elemColors($colors);
}

.bg {
    @include elemColors($colors);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey;
    flex-grow: 1;
}
